<img id="howToImg" class="home" src="img/banner.png" alt="how to use the website"/>

<h1 class="home">Welcome to Page Peddlers</h1>

{{!-- Existing user login --}}
<form id="returningUser" class="home">
  <fieldset>
    <legend>Complete the fields below to login to an existing account</legend>
    <br>
    <label for="accountname"> Username:
        <input id="username" name="name" type="text" placeholder="Enter Username" required>
    </label>
    <br>
    <label for="pw"> Password:
        <input id="password" name="pw" type="password" placeholder="Enter Password" required>
    </label>
    <br>
    <br>
    <input id="userLogin" type="submit" name="login" value="Click Here to Login!">
    <br>
    {{!-- Link to create new account page --}}
    <p>Or <a href="/signup">click here</a> to create a new account!</p>
  </fieldset>
</form>

{{!-- No account error --}}
<div id="noUser">
    <h2 class="home">No account found. Double check your password and try again.</h2>
</div>

{{!-- General database error --}}
<div id="loginError" class="home">
    <h2>Oops! Something went wrong. Try again.</h2>
</div>

<div>
  <h3 class="home">How Page Peddlers Works:</h3>
  <p class="home">Build a bookshelf of books to trade with other users in exchange for points that you can use to get more books!</p>
  <p class="home">The only cost is shipping when you're sending a book. Create an account today and start with enough points to request 3 premium trades!</p>
  <p class="home">Save trees by cutting wasteful printing. Keep books in the cycle with Page Peddlers!</p>
</div>

<footer>© Elvis Press Leaves</footer>

<script src="/login.js"></script>
