body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav { 
  overflow: hidden;
  background-color: #000000;
}

.topnav a { 
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { 
  background-color: gray;
  color: black;
}

.topnav a.active { 
  background-color: #dddddd;
  color: darkgreen;
  font-weight: bold;
}

img {
  width:550px;
  margin: 0 auto;
}

img.home {
  width:550px;
  margin-left: 30%;
}

.warnText {
color: red;
}

.homeContent {
width: 1200px;
margin: auto;
padding: 10px;
height: 385px;
}

.left {
width: 50%;
float: left;
height: 385px;

}
.right {
width: 50%;
float: left;
height: 385px;
}

.res {
margin: auto;
text-align: center;
}

#resFrame {
width: 1200px;
height: 800px;
}

#results {
width: 100%;
margin-top: 20px;
display:none;
}

.fk {
color: darkblue;
}

.pk {
color: darkgreen;
text-decoration: underline;
}

.instr {
color:red;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

footer {
left: 45%;
bottom: 0%;
color: darkgreen;
text-align: center;
padding-top: 3%;
}

.home {
text-align: center;
}

#returningUser {
  padding-bottom: 2%;
}

div.book {
  border: 1px solid #000000;
  max-width: 30%;
  margin-left: 1%;
  padding-left: 2px;
  padding-bottom: 2px;
  flex-wrap: wrap;
  display: inline-flex;
}

div.bookDetails {
  max-width: 100%;
  display: grid;
  padding: 2px 2px;
}

h2 {
  text-align: center;
}

.container-fluid {
  padding-top: 3%;
}


/*How to embed logo, found: https://stackoverflow.com/questions/30624709/css-html-navigation-and-logo-on-same-line*/
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: black; /* change to desired color */
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

body
{
	font: 14px sans-serif;
}

.wrapper
{
	width: 350px; padding: 20px;

}
